.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.title {
  color: #aaaaff;
}

.add-variant {
  color: white;
  background-color: #0287ed;
}

.delete-variant {
  color: black;
  background-color: #f55be4;
}
