.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.title {
  color: #aaaaff;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 20%;
  font-size: 1rem;
}

input {
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 1rem;
}

.add-variant {
  color: white;
  background-color: #0287ed;
}

.delete-variant {
  color: black;
  background-color: #f55be4;
}

button:disabled {
  cursor: not-allowed;
}
