.App {
  text-align: center;
  background-color: #eeeeff;
  height: 100dvh;
  overflow: auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.title {
  color: #aaaaff;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 20%;
  font-size: 1rem;
}

input {
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 1rem;
}

.add-variant {
  color: white;
  background-color: #0287ed;
}

.complete-variant {
  font-size: 0.85rem;
  color: white;
  background-color: #755bf5;
}

.delete-variant {
  color: black;
  background-color: #f55be4;
}

button:disabled {
  cursor: not-allowed;
}

.button-alt {
  display: none;
}

ul {
  display: grid;
  grid-gap: 1rem;
}

li {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  grid-gap: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.add-section {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  margin: auto;
  width: 20%;
}

.lists {
  display: grid;
  padding: 2rem;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  @media (max-width: 1000px) {
    grid-template-columns: unset;
    height: unset;
  }
}

.list {
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 1rem;
  height: 100%;
  overflow: auto;
  background-color: #f7f7ff;
}
